<footer>
  <div class="footer-container">
    <div class="footer-links">
      <a href="#">Menù</a>
      <a href="#">Chi Siamo</a>
      <a href="#">Contattaci</a>
      <a href="#">Preferenze d'utilizzo</a>
      <a href="#">Condizioni d'Uso</a>
      <a href="#">Privacy</a>
    </div>
    <div class="footer-social">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-tiktok"></i></a>
      <a href="#"><i class="fab fa-telegram"></i></a>
      <a href="#"><i class="fab fa-whatsapp"></i></a>
    </div>
    <div class="footer-copy">
      <p>Sushi Star © 2024</p>
    </div>
  </div>
</footer>
