<app-header></app-header>
<section class="profile-page">
  <!-- Passa i dati utente al componente UserInfo -->
  <app-user-info [userData]="userData"></app-user-info>

  <div class="profile-body">
    <app-user-menu (sectionChange)="onSectionChange($event)"></app-user-menu>

    <div class="content">
      <!-- I miei ordini -->
      <ng-container *ngIf="activeSection === 'orders'">
        <h2>I miei Ordini</h2>
        <app-order-history></app-order-history>
      </ng-container>

      <!-- I miei preferiti -->
      <ng-container *ngIf="activeSection === 'favorites'">
        <h2>I miei Preferiti</h2>
        <div class="dishes-container">
          <ng-container *ngIf="favoriteProducts.length > 0; else noFavorites">
            <app-dish
              *ngFor="let product of favoriteProducts"
              [id]="product.id"
              [name]="product.productName"
              [description]="product.description"
              [image]="'img/prodotto/' + product.imgPath"
              [price]="product.price">
            </app-dish>
          </ng-container>
          <ng-template #noFavorites>
            <p>Non hai ancora aggiunto alcun prodotto ai preferiti.</p>
          </ng-template>
        </div>
      </ng-container>

    </div>
  </div>
</section>
<app-footer></app-footer>
